body {
    background-color: burlywood;
}

/////////////////////////////////////////////////////////

.inputs {
    merg
}
/////////////////////////////////////////////////////////





/////////////////////////////////////////////////////////
