body {
    background-color: coral;






  }

/* ----------------------------------------------------------------------- */

h1 {
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
    border-radius: initial;
  }

h1 span {
    font-family: cursive;
    position: relative;
  }

h1 span::before,

h1 span::after {
    vertical-align: middle;
    display: inline-block;
  }
h1 span::after {
    transform: scaleX(-1);
  }
/* ----------------------------------------------------------------------- */





/* ----------------------------------------------------------------------- */



/* ----------------------------------------------------------------------- */




/* ----------------------------------------------------------------------- */




/* ----------------------------------------------------------------------- */





/* ----------------------------------------------------------------------- */
